/* Write your desired css here */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.chatbot-toggler {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 90%;
  width: 60px;
  height: 60px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 100%;
  border: none;
}
.fa-solid {
  font-size: 24px;
}
.none {
  display: none;
}

.chatbot {
  width: 400px;
  height: 500px;
  position: absolute;
  left: 65%;
  top: 10%;
  /* background-color: rgb(246, 243, 243); */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.chatbot header {
  height: 8%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  font-size: 12px;
  padding: 0 5%;
  color: white;
}

.chatbot .chatbox {
  height: 76%;
  padding: 0 10px;
  overflow-y: scroll;
  /* background-color: aqua; */
}

.chatbot .chat-input {
  width: 92%;
  margin: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-top: 1px solid #000;
}

.chatbot .chat-input textarea {
  flex: 1;
  border: none;
  font-size: 14px;
  outline: none;
  margin-right: 6px;
  resize: none;
}

i {
  cursor: pointer;
}

li {
  list-style: none;
}

.chatbot .chat {
  display: flex;
  width: 200px;
  align-items: center;
}

.chatbot .chat span {
  width: 40px;
  height: 36px;
  border-radius: 100%;
  text-align: center;
  background-color: red;
  padding-top: 4px;
  color: white;
  margin: 4px;
}

.chatbot .chat p {
  background-color: white;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgb(227, 222, 222);
}

.chatbot .outgoing {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
